@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.home,
.supdeco,
.contactus,
.iam,
.ism,
.esp,
.forum,
.etablissements,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  
}

.yourschool{
  text-align: center;
  font-size: 50%;
  color: white;
  

}
.home {
  background-image: url(./images/home.jpeg);
}

.supdeco {
  background-image: url(./images/supdeco.jpg);
}

.iam {
  background-image: url(./images/design.jpg);
}

.ism{
  background-image: url(./images/ism.jpg);
}

.esp {
  background-image: url(./images/marketing.jpg);
}

.forum {
  background-image: url(./images/forum.jpg);
}

.contactus {
  background-image: url(./images/contactus.jpg);
}

.etablissements {
  background-image: url(./images/etablissements.jpg);
}


  

.social-container {
  background: #eee;
  padding: 25px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
